<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<router-outlet><app-spinner></app-spinner></router-outlet>

<lib-ng-toast></lib-ng-toast>
<!-- <div id="my-scrolling-element-id"
  [ngClass]="{'element': isElement}">
  <long-list></long-list>
</div>
<scrolltop 
[bottom]="iconBottom"
[background]="iconColor" 
[fill]="iconFill" 
[size]="iconSize"
[sizeInner]="iconSizeInner"
[elementId]="elementId">
</scrolltop> -->
 